* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 65px;
}

header nav .mobile-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

